@{
    ViewBag.Title = "О программе";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>«Программа предназначена для формирования электронной заявки для подключения жилого или хозяйственного объекта к системам теплоснабжения, водоснабжения/водоотведения. 	Для входа в систему Вы должны авторизоваться, то есть ввести «Имя пользователя» (логин) и пароль. Если Вы впервые на данном сайте, то нажмите кнопку «Зарегистрироваться». После авторизации Вы можете создать электронную заявку или отследить выполнение ранее созданной. Для создания новой заявки надо выбрать кнопку «Новая заявка», заполнить все пункты.  К заявке необходимо прикрепить требуемые документы. Первым прикрепляется заполненный и подписанный бланк заявки.</p>
<p>Электронная заявка рассматривается в течение пяти  дней при подключению к водоснабжению/водоотведению и шести рабочих дней в случае теплоснабжения . После чего на сайте,  Вы можете проверить свою заявку на правильность заполнения.</p>
<p>Если при рассмотрении заявки обнаружены недостатки, то Вы можете их устранить на сайте, внеся изменения или дополнения в заявку.</p>
<p>Если Ваша заявка оформлена правильно, то Вам в течение 20 дней будет назначена дата заключения договора. В указанную дату Вам следует прийти к поставщику со всеми документами и подписанной заявкой.»</p>
@*<a href="@Url.Action("VideoData")">show</a>
    <video width="320" height="240" controls autoplay="autoplay">
        <source src="@Url.Action("VideoData")" type="video/mp4">
    </video>
*@