@{
    ViewBag.Title = "Контакты";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<div class="row">
    <header>
        <h3>Телефоны</h3>
    </header>
    <p>
        Основной:
        <span>(347)251-69-99</span>
    </p>
    <p>
        Дополнительно:
        <span>(347)251-00-89</span>
    </p>
</div>

<div class="row">
    <header>
        <h3>E-mail</h3>
    </header>
    <p>
        Поддержка:
        <span><a href="mailto:svod@f-g.ru">svod@f-g.ru</a></span>
    </p>
    <p>
        Руководство:
        <span><a href="mailto:fg@f-g.ru">ip@f-g.ru</a></span>
    </p>
</div>

<div class="row">
    <header>
        <h3>Почтовый адрес</h3>
    </header>
    <p>
        450077,г. Уфа<br />
        ул.Кирова, 43/1
    </p>
</div>