@{
    ViewBag.Title = "Администрирование и аналитика";
}
<div class="jumbotron">
    <h1 class="display-6">Кабинет администратора</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Управление пользователями</h2>
        <p>
           Основные функции:
        </p>
        <ul>
            <li>Удаление неактивных пользователей</li>
        </ul>
        @Html.ActionLink("Управление пользователями", "Users", "Admin", null, new { @class = "btn btn-primary" })
    </div>
    <div class="col-md-4">
        <h2>Реестр поставщиков ресурсов</h2>
        <p>
            Ведение реестра поставщиков ресурсов:
        </p>
        <ul>
            <li>Добавление новых поставщиков</li>
            <li>Редактирование полей реестра</li>
            <li>Блокирование поставщиков</li>
        </ul>
        @Html.ActionLink("Реестр поставщиков", "Provider", "Admin", null, new { @class = "btn btn-primary" })
    </div>
    <div class="col-md-4">
        <h2>Аналитика</h2>
        <p>
            Отчетные формы:
        </p>
        <ul>
            @Html.ActionLink("Статистика по заявкам", "RequestStat", "Admin", null, new { @class = "btn btn-primary" })
        </ul>
    </div>
</div>